In [175]:
import numpy as np

In [176]:
X_train = np.array([[1000.0, 2.0],
                  [1500.0, 3.0]])

In [177]:
X_train

array([[1000.,    2.],
       [1500.,    3.]])

In [178]:
X_train[:,0]

array([1000., 1500.])

In [179]:
X_train[:,1]

array([2., 3.])

In [180]:
X_train[:,0].min()

1000.0

In [181]:
np.min(X_train[:,0])

1000.0

In [182]:
X_train[:,0].mean()

1250.0

In [183]:
np.mean(X_train[:,0])

1250.0

In [184]:
X_train[:,1].min()

2.0

In [185]:
X_train[:,1].mean()

2.5

In [186]:
def normalize(mat):
    new = np.array(mat)
    for i in range(len(new[0])):
        m = new[:,i].min()
        r = new[:,i].max() - m
        new[:,i] = (new[:,i]-m)/r
    return new

In [187]:
print(normalize(X_train))

[[0. 0.]
 [1. 1.]]

In [188]:
def new_normalize(mat):
    new = mat
    return (new - new.min(axis=0)) / (new.max(axis=0) - new.min(axis=0))

In [189]:
print(new_normalize(X_train))

[[0. 0.]
 [1. 1.]]

In [190]:
X_train

array([[1000.,    2.],
       [1500.,    3.]])

In [191]:
from sklearn import preprocessing

In [192]:
min_max_scaler = preprocessing.MinMaxScaler()
X_min_max = min_max_scaler.fit_transform(X_train)
print(X_min_max)

[[0. 0.]
 [1. 1.]]

In [193]:
def stand_scaler(mat):
    new = mat
    return (new - new.mean(axis=0)) / (new.std(axis=0))

In [194]:
print(stand_scaler(X_train))

[[-1. -1.]
 [ 1.  1.]]

In [197]:
standard_scaler = preprocessing.StandardScaler()
X_standard = standard_scaler.fit_transform(X_train)
print(X_standard)

[[-1. -1.]
 [ 1.  1.]]

In [226]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
df = pd.read_csv('../Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [227]:
X = df.iloc[:, 3:13].values
y = df.iloc[:, 13].values

In [228]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [229]:
label_encoder_1 = LabelEncoder()
label_encoder_2 = LabelEncoder()
X[:,1] = label_encoder_1.fit_transform(X[:,1])
X[:,2] = label_encoder_2.fit_transform(X[:,2])

In [230]:
X

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [251]:
one_hot_encoder = OneHotEncoder()

encoded = one_hot_encoder.fit_transform(X[:,1:3]).toarray()

In [253]:
X[:,1:3]

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       ...,
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [211]:
X = df.iloc[:, 3:13]
y = df.iloc[:, 13]

In [213]:
pd.get_dummies(X).head(10)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
5,645,44,8,113755.78,2,1,0,149756.71,0,0,1,0,1
6,822,50,7,0.00,2,1,1,10062.80,1,0,0,0,1
7,376,29,4,115046.74,4,1,0,119346.88,0,1,0,1,0
8,501,44,4,142051.07,2,0,1,74940.50,1,0,0,0,1
9,684,27,2,134603.88,1,1,1,71725.73,1,0,0,0,1